/* styles.css */

/*
header blank container
*/
.blank-header-container {
    display: inline-block;
    position: relative;
    background-color: #c6c6cc;
    height: 80px;
    width: 100%;
}

/*<!--begin manage tab-container->*/
.tab-container {
    display: inline-block;
    position: relative;
    background-color: #9c9ba3;
    justify-content: center;
    padding: 1px;
    /*height: 65px;*/
    /*width: 95px;*/
    min-height: 60%;
    min-width: 80%;
    background-color: #c6c6cc;
    outline: 1px solid white;
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.5);
}
/*<!--end manage tab-container->*/

/*<!--begin tab-button>*/
.tab-button {
    background-color: #242526;
    color: #9c9ba3;
    /*color: #FFFFFF;*/
    border: none;
    vertical-align: middle;
    position: relative;
    max-width: 18%;
    min-width: 12%;
    padding: 5px 5px;
    margin: 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: 2px solid black;
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.5);
    z-index: 1;
    &:hover {
        color: #FFFFFF;
        transform: scale(1.01);
    }
  }
.tab-button2 {
    background-color: #242526;
    color: #9c9ba3;
    /*color: #FFFFFF;*/
    border: none;
    vertical-align: middle;
    position: relative;
    max-width: 30%;
    min-width: 10%;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: 2px solid black;
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.5);
    z-index: 2;
    &:hover {
        color: #FFFFFF;
        transform: scale(1.01);
    }
  }
/*<!--end tab-button>*/

/*<!--begin tab-content->*/
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    min-width: 70%;
    max-width: 800px;
    margin-top: 20px;
    justify-content: center;
    z-index: 2;
}
/*<!--end tab-content->*/

/*begin scroll container mgmt*/
div.portfolio-box {
    width: 100%; 
    max-height: 200%;
    max-width: 100%;
    height: 520px; 
}
div.scroll-container {
    border: 1.5px solid black;
    background-color: #9c9ba3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    height: 220px;
    width: 85%;
    width: 100%; 
    max-height: 30%;
    max-width: 80%;
}
div.scroll-container img {
    padding: 10px;
}
div.scroll-container > .item > img {
    height: 100%;
    object-fit: cover;
}
/*end scroll container mgmt*/


/*begin index.html div content*/
.twitter-container {
    padding: 10px;
    margin-bottom: 10px;
}
.container {
    display: inline-block;
    position: relative;
    justify-content: center;
}
/*end index.html div content*/

/*begin blog post styles*/
.blog-post {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.blog-post .date {
    font-size: 14px;
    color: #888;
}
.blog-post .excerpt {
    margin-top: 10px;
}
.blog-post img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.blog-content {
            padding: 0 18px;
            background-color: #f5f5f5;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
.blog-button {
    background-color: black;
    color: #9c9ba3;
    border: none;
    vertical-align: middle;
    position: relative;
    max-width: 30%;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: 2px solid black;
    &:hover {
        color: white;
        transform: scale(1.01);
        .tab-content {
            display: flex;
        }
    }
  }
/*end blog post preview styles*/

/* color/style */
/*html, body {border: none;}*/
* {
    margin: 2px;
    padding: 10px;
    border: 1;
    border-color: solid black;
    box-sizing: border-box;
}
form {
    display: table;
    width: 100%;
    text-align: center;
}
button > img {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    max-height: 100%;*/
    height: auto;
    width: auto\\9;
    color: black;
    &:hover {
        display: block;
        color: white;
  }
}

.image-container {
    display: block;
    border: 1px solid #000;
    height: 30px;
    width: 290px;
    margin-left: 10px;
}

body {
    hieght: 150%;
    width: 100%;
    background-color: #c6c6cc;
    font-family: Helvetica;
    overflow: visible;
}

/*
page styles
*/
.content {
    padding: 16px;
}

/*
header styles
*/
head {
    font-family: Helvetica;
    background: white;
    width: 100%;
    background-color: #c6c6cc;
    box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.5);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}



footer {
    font-family: Helvetica;
}

/*change link color*/
a, a:hover, a:active, a:visited {
    color: #9c9ba3;
    font-size: 16px;
    font-family: Helvetica;
    &:hover {
        color: white;
    }
}


